<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1abb5">  <td>17/12/16 09:27:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ClickToursPageTest.tearDown()[pri:0, instance:net.phptravels.actionsOnMainPage.ClickToursPageTest@3174cb09]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@257718694</td>   <td></td> </tr>
<tr bgcolor="a1abb5">  <td>17/12/16 09:27:34</td>   <td>-13040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClickToursPageTest.testClickTours()[pri:0, instance:net.phptravels.actionsOnMainPage.ClickToursPageTest@3174cb09]">testClickTours</td> 
  <td>main@257718694</td>   <td></td> </tr>
</table>
